body{
  background-color: #141b41;
  text-align: center;
}

h1{
  font-family: 'Bangers', cursive;
  font-size: 550%;
  margin-top: 75px;
  margin-bottom: 75px;
  color: #98b9f2;
  letter-spacing: 3px;
}

h2{
  font-family: 'Krub', sans-serif;
  font-size: 300%;
  color: black;
}

p{
  color: #141b41;
}

a{
  text-decoration: none;
  color: #141b41;
  transition: 0.3s;
}

a:hover{
  /* font-size: 110%; */
  color: #918ef4;
  transition: 0.3s;
}

.window{
  text-align: center;
  border-radius: 20px;
}

input{
    border-radius: 5px;
    border-style: hidden;
    padding: 10px;
    font-family: 'K2D', sans-serif;
    font-size: 200%;
    text-align: center;
    margin-top: 30px;
    width: 65%;
    letter-spacing: 3px;
}

.content{
  background-color: #306bac;
  display: table;
  margin: 0 auto;
  width: 85%;
  padding-top: 2%;
  padding-bottom: 3%;
  border-radius: 12px;
  border-style: solid;
 }

 footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 6%;
   background-color: #306bac;
   color: white;
}
